
code {
    direction: ltr;
}
code {
    background: #ffc107;
    border-radius: 5px;
    padding: 0px 5px;
}
ol {
    padding: 0px 20px;
}

ul {
    padding: 0px 20px;
}
.post-home.cont {
    background: #9e9e9e1c;
    border-radius: 20px;
    padding: 10px;
}
