
code {
    direction: ltr;
}
code {
 background-color: #d0f0fd;       /* سماوي هادي */
  color: #003249;                  /* أزرق غامق للنص */
  padding: 2px 6px;
  border-radius: 5px;
  font-weight: 500;                /* نص متوسط السُمك */
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.95em;
}
ol {
    padding: 0px 20px;
}

ul {
    padding: 0px 20px;
}
.post-home.cont {
    background: #9e9e9e1c;
    border-radius: 20px;
    padding: 10px;
}

.toggle-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.toggle-btn:hover {
  background-color: #388e3c;
  transform: scale(1.05);
