.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  position: relative;
}

#important {
  display: flex;
  gap: 20px;
}
#lectures {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#summaries {
  display: flex;
  gap: 20px;
}
.lecture-card {
  background: linear-gradient(135deg, rgb(90, 170, 255), #325e93);
  border-radius: 15px;
  padding: 20px;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.lecture-card:hover {
  transform: scale(1.05);
}

.lecture-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lecture-image img {
  width: 60%;
}

.lecture-title {
  font-size: 10px;
  font-weight: bold;
  margin: 10px 0;
}

.lecture-description {
  font-size: 14px;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 20px;
}
.lecture-button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lecture-button:hover {
  background-color: #ff4500;
}

@media (max-width: 900px) {
  #important {
    flex-direction: column;
  }
  #important {
    flex-direction: column;
  }
  #lectures {
    flex-direction: column;
  }

  #summaries {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #important {
    flex-direction: column;
  }
  #important {
    flex-direction: column;
  }
  #lectures {
    flex-direction: column;
  }

  #summaries {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .up_total_div {
    flex-direction: column;
  }
  .lecture-title {
    margin: 0px auto;
  }

  .lecture-description {
    display: none;
  }
  .lecture-card {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 680px) {
  .lecture-card {
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
  }
  .aa a {
    width: 100px;
  }
}
@media (max-width: 320px) {
  .lecture-title {
    width: 50px;
  }
}
@media (max-width: 420px) {
  .lecture-title {
    width: 90px;
  }
}
@media (max-width: 520px) {
  .lecture-title {
    width: 120px;
  }
}
@media (min-width: 900px) {
  .lecture-card {
    max-width: 120px;
    justify-content: space-between;
  }
}
