.top {
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    width: 20em;
    margin: 0px 5%;
  }

  .box .title_of_box {
    padding: 0px 30px;
  }
  .top {
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    width: 100%;

    margin-bottom: 100px;
  }

  .container {
    margin: 0px;
  }
  .box img {
    width: 100%;
    height: 100px;
    padding: 0px;
    border-radius: 90px;
    overflow: hidden;
  }
  .box a {
    border: 0px;
  }

  .info-courses {
    align-items: center;
    gap: 20px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 30px;
    justify-content: center;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contents {
    border: 8px solid;
    border-radius: 20px;
    background-color: white;
    border-color: #eb874b;
    margin: 3%;
  }
  .total .title h1,
  .total .content {
    text-align: left;
    border: 7px solid;
    border-radius: 0px;
    color: white;
    display: inline-block;
    background-color: #007bff;
    border-color: rgb(0 0 0 / 10%);
    border-bottom-right-radius: 20px;
  }

  .title_Of {
    border: 4px solid;
    border-color: rgb(0 0 0 / 10%);
    border-radius: 20px;
    background-color: #007bff;
    color: white;
  }
  .title h1 {
    color: white;
    background-color: #eb874b;
    padding: 10px 20px 10px 0px;
    border-bottom-right-radius: 122px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }