body {
  font-family: Arial, sans-serif;
  margin: 0px;
  
}
.task {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 30px;
}
.task input[type="checkbox"] {
  margin-right: 10px;
}
.task.completed span {
  text-decoration: line-through;
  color: grey;
}
#taskList {
  margin-top: 20px;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #4cae4c;
}
.delete {
  display: block;
  position: absolute;
  right: -18px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 18px;
}
.task:hover .delete {
  display: block;
}
